<?xml version="1.0" encoding="UTF-8"?>
<web-app>
	<servlet>
		<servlet-name>MemberListServlet</servlet-name>
		<servlet-class>com.jsp.controller.MemberListServlet</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>MemberListServlet</servlet-name>
		<url-pattern>/member/list</url-pattern>
	</servlet-mapping>

</web-app>